{% extends 'nav.html' %}

{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>Order Placed</title>
    {% endblock %}
</head>

{% block body %}
<center> <h2 style="font-weight: 300">Order Placed
    <div class="container" style="margin-top:8vh">
     <div class="container">

        <div class="row">
            <center>
            <div class="col-lg-10 offset-1">
                <div class="addAdress">
                    <div class="row">
                        <div class="col-sm-14">
                           <h2 style="font-weight: 300"></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="row p-5">
                            <div class="col-md-3 px-2">
                                <img src="" >
                            </div>

                            <div class="col-md-9 text-right">
                                <p class="font-weight-bold mb-1">Invoice #550</p>
                                <p class="text-muted">Due to: 4 Dec, 2019</p>
                            </div>
                        </div>

                        <hr class="my-5">

                        <div class="row pb-5 p-5">
                            <div class="col-md-6">
                                {% for i in Adata %}
                                <p class="font-weight-bold mb-4">Client Information</p>
                                <p class="mb-1">{{i.chname}}</p>
                                <p class="mb-1">{{i.address}}, {{city}}</p>
                                <p class="mb-1">{{i.state}}</p>
                                <p class="mb-1">{{i.pin}}</p>
                                {% endfor %}
                            </div>

                            <div class="col-md-6 text-right">
                                <p class="font-weight-bold mb-4">Payment Details</p>
                                <p class="mb-1"><span class="text-muted">VAT: </span> 1425782</p>
                                <p class="mb-1"><span class="text-muted">VAT ID: </span> 10253642</p>
                                <p class="mb-1"><span class="text-muted">Payment Type: </span> Cash</p>
                                <p class="mb-1"><span class="text-muted">Name: </span> Piyush Malhotra</p>
                            </div>
                        </div>

                        <div class="row p-5">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="border-0 text-uppercase small font-weight-bold">ID</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Item</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Quantity</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Basic Price</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Discount</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Final Price</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in Data %}
                                    <tr>
                                        <td>{{i.cart_product.id}}</td>
                                        <td>{{i.cart_product.name}}</td>
                                        <td>{{i.count}}</td>
                                        <td> &#8377 {{i.cart_product.basicPrice}}</td>
                                        <td>{{i.cart_product.discount}}%</td>
                                        <td> &#8377 {{i.cart_product.price}}</td>
                                        <td> &#8377 {{i.total}}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="d-flex flex-row-reverse bg-dark text-white p-4">
                            <div class="py-3 px-5 text-right">
                                <div class="mb-2">Grand Total</div>
                                <div class="h2 font-weight-light"> &#8377 {{total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="view-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <h5 class="heading"><span><a href="/homedelete/">Back To Home</a></span></h5>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

{% endblock body %}
</html>